html{
    height: 100%;;
}

body{
    height: 100%;
}

audio{
    display: none;
}

.mainbox{
    height: 100%;
    width: 100%;
    background-color: blueviolet;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.containercss{
    height: 300px;
    min-height: 250px;
    width: 750px;
    margin-left: auto;
    margin-right: auto;  
    padding: 10px;
    background-color: aqua;
    box-shadow: 5px 5px darkmagenta;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
}


.screen{
    height: 240px;
    width: 210px;
    background-color: chartreuse;
    box-shadow: 5px 5px darkmagenta;
    flex-grow: 3;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.musicname{
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    height: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: rgb(80, 6, 37);
    background-color: orange;
    box-shadow: 5px 5px rgb(1, 7, 92);    

}

.power{
}

.powerswitch{
    
}

#display{
    width: 190px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    box-shadow: 5px 5px darkmagenta;    
    background-color: aliceblue;

}

.numpad{
    height: 240px;
    width: 400px;
    margin: 20px;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    flex-grow: 4;
    justify-content: space-evenly;
    align-items: center;
}

.drum-pad{
    text-align: center;
    vertical-align: middle;
    line-height: 55px;
    margin-top: auto;
    margin-bottom: auto;
    height: 75px;
    width: 120px;
    margin: 5px;
    flex-grow: 1;
    background-color: cornsilk;
    border-radius: 3px;
    box-shadow: 4px 4px rgb(104, 0, 5);
    font-family: 'Courier New', Courier, monospace;
    transition: 0.3s;
}

.drum-pad:hover{

}

.drum-pad:active{
    background-color: indigo;
    transform: translate(4px,4px);
    box-shadow: 0px 0px 1px rgb(104, 0, 5);

}

#Q:active{
    background-color: violet;
    transform: translate(4px,4px);
    box-shadow: 0px 0px 1px rgb(104, 0, 5);

}

.qact{
    background-color: violet;
    transform: translate(4px,4px);
    box-shadow: 0px 0px 1px rgb(104, 0, 5);
}

.qdeact{
    transform: translate(4px,4px);
    box-shadow: 0px 0px 1px rgb(104, 0, 5);
}

#W:active{
    background-color: indigo;
    transform: translate(4px,4px);
    box-shadow: 0px 0px 1px rgb(104, 0, 5);

}

.wact{
    background-color: indigo;
    transform: translate(4px,4px);
    box-shadow: 0px 0px 1px rgb(104, 0, 5);
}

.wdeact{
    transform: translate(4px,4px);
    box-shadow: 0px 0px 1px rgb(104, 0, 5);
}

#E:active{
    background-color: blue;
    transform: translate(4px,4px);
    box-shadow: 0px 0px 1px rgb(104, 0, 5);

}

.eact{
    background-color: blue;
    transform: translate(4px,4px);
    box-shadow: 0px 0px 1px rgb(104, 0, 5);
}

.edeact{
    transform: translate(4px,4px);
    box-shadow: 0px 0px 1px rgb(104, 0, 5);
}

#A:active{
    background-color: green;
    transform: translate(4px,4px);
    box-shadow: 0px 0px 1px rgb(104, 0, 5);

}

.aact{
    background-color: green;
    transform: translate(4px,4px);
    box-shadow: 0px 0px 1px rgb(104, 0, 5);
}

.adeact{
    transform: translate(4px,4px);
    box-shadow: 0px 0px 1px rgb(104, 0, 5);
}

#S:active{
    background-color: greenyellow;
    transform: translate(4px,4px);
    box-shadow: 0px 0px 1px rgb(104, 0, 5);

}

.sact{
    background-color: greenyellow;
    transform: translate(4px,4px);
    box-shadow: 0px 0px 1px rgb(104, 0, 5);
}

.sdeact{
    transform: translate(4px,4px);
    box-shadow: 0px 0px 1px rgb(104, 0, 5);
}

#D:active{
    background-color: yellow;
    transform: translate(4px,4px);
    box-shadow: 0px 0px 1px rgb(104, 0, 5);

}

.dact{
    background-color: yellow;
    transform: translate(4px,4px);
    box-shadow: 0px 0px 1px rgb(104, 0, 5);
}

.ddeact{
    transform: translate(4px,4px);
    box-shadow: 0px 0px 1px rgb(104, 0, 5);
}

#Z:active{
    background-color: orange;
    transform: translate(4px,4px);
    box-shadow: 0px 0px 1px rgb(104, 0, 5);

}

.zact{
    background-color: orange;
    transform: translate(4px,4px);
    box-shadow: 0px 0px 1px rgb(104, 0, 5);
}

.zdeact{
    transform: translate(4px,4px);
    box-shadow: 0px 0px 1px rgb(104, 0, 5);
}

#X:active{
    background-color: orangered;
    transform: translate(4px,4px);
    box-shadow: 0px 0px 1px rgb(104, 0, 5);

}

.xact{
    background-color: orangered;
    transform: translate(4px,4px);
    box-shadow: 0px 0px 1px rgb(104, 0, 5);
}

.xdeact{
    transform: translate(4px,4px);
    box-shadow: 0px 0px 1px rgb(104, 0, 5);
}

#C:active{
    background-color: red;
    transform: translate(4px,4px);
    box-shadow: 0px 0px 1px rgb(104, 0, 5);

}

.cact{
    background-color: red;
    transform: translate(4px,4px);
    box-shadow: 0px 0px 1px rgb(104, 0, 5);
}

.cdeact{
    transform: translate(4px,4px);
    box-shadow: 0px 0px 1px rgb(104, 0, 5);
}

@media(max-width:815px){
    .mainbox{
        height: 100%;
        width: 100%;
        min-width: 530px;
        background-color: blueviolet;
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }
    .containercss{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        min-width: 522px;
        width: 80%;
        height: 80%;
        min-height: 560px;
        justify-content: space-evenly;
    }

    .numpad{
        height: 240px;
        flex-grow: 0;
    }

    .screen{
        flex-grow: 0;
        height: 200px;
    }
}

@media(max-width:590px){
    .mainbox{
        height: 100%;
        width: 100%;
        min-width: 250px;
        background-color: blueviolet;
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
    }
    .containercss{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 70%;
        height: 80%;
        min-height: 560px;
        min-width: 240px;
        justify-content: space-evenly;
        margin-left: auto;
        margin-right: auto;
        flex-grow: 0;
    }

    .numpad{
        height: 240px;
        width: 240px;
        flex-grow: 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
        
    }

    .drum-pad{
        height: 70px;
        width: 70px;
        flex-shrink: 1;

    }

    .screen{
        flex-grow: 0;
        height: 200px;
    }
}




.cmn-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
  }
  .cmn-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  input.cmn-toggle-round-flat + label {
    padding: 2px;
    width: 50px;
    height: 20px;
    background-color: #dddddd;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    -webkit-transition: background 0.4s;
    -moz-transition: background 0.4s;
    -o-transition: background 0.4s;
    transition: background 0.4s;
  }
  input.cmn-toggle-round-flat + label:before, input.cmn-toggle-round-flat + label:after {
    display: block;
    position: absolute;
    content: "";
  }
  input.cmn-toggle-round-flat + label:before {
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    background-color: #fff;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    -webkit-transition: background 0.4s;
    -moz-transition: background 0.4s;
    -o-transition: background 0.4s;
    transition: background 0.4s;
  }
  input.cmn-toggle-round-flat + label:after {
    top: 4px;
    left: 4px;
    bottom: 4px;
    width: 12px;
    background-color: orange;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    border-radius: 12px;
    -webkit-transition: margin 0.4s, background 0.4s;
    -moz-transition: margin 0.4s, background 0.4s;
    -o-transition: margin 0.4s, background 0.4s;
    transition: margin 0.4s, background 0.4s;
  }
  input.cmn-toggle-round-flat:checked + label {
    background-color: #8ce196;
  }
  input.cmn-toggle-round-flat:checked + label:after {
    margin-left: 30px;
    background-color: #8ce196;
  }