html{
    height: 100%;;
}

body{
    height: 100%;
}
.mainbox{
    height: 100%;
    width: 100%;
    background-color: blueviolet;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.containercss{
    height: 300px;
    width: 750px;
    margin-left: auto;
    margin-right: auto;  
    padding: 10px;
    background-color: aqua;
    box-shadow: 5px 5px darkmagenta;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
}

.screen{
    height: 240px;
    width: 210px;
    background-color: chartreuse;
    box-shadow: 5px 5px darkmagenta;
    flex-grow: 3;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.musicname{
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    height: 30px;
    font-family: sans-serif;
    color: crimson;
}

.power{
}

.powerswitch{
    
}

#display{
    width: 190px;
    height: 20px;
    background-color: aliceblue;

}

.numpad{
    height: 240px;
    width: 400px;
    margin: 20px;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    flex-grow: 4;
    justify-content: space-evenly;
    align-items: center;
}

.drum-pad{
    text-align: center;
    vertical-align: middle;
    line-height: 55px;
    margin-top: auto;
    margin-bottom: auto;
    height: 75px;
    width: 120px;
    margin: 5px;
    flex-grow: 1;
    background-color: cornsilk;
    border-radius: 3px;
    box-shadow: 4px 4px rgb(104, 0, 5);
    font-family: 'Courier New', Courier, monospace;
    transition: 0.3s;
}

.drum-pad:hover{

}

.drum-pad:active{
    background-color: indigo;
    transform: translate(4px,4px);
    box-shadow: 0px 0px 1px rgb(104, 0, 5);

}

#Q:active{
    background-color: violet;
    transform: translate(4px,4px);
    box-shadow: 0px 0px 1px rgb(104, 0, 5);

}

#W:active{
    background-color: indigo;
    transform: translate(4px,4px);
    box-shadow: 0px 0px 1px rgb(104, 0, 5);

}

#E:active{
    background-color: blue;
    transform: translate(4px,4px);
    box-shadow: 0px 0px 1px rgb(104, 0, 5);

}

#A:active{
    background-color: green;
    transform: translate(4px,4px);
    box-shadow: 0px 0px 1px rgb(104, 0, 5);

}

#S:active{
    background-color: greenyellow;
    transform: translate(4px,4px);
    box-shadow: 0px 0px 1px rgb(104, 0, 5);

}

#D:active{
    background-color: yellow;
    transform: translate(4px,4px);
    box-shadow: 0px 0px 1px rgb(104, 0, 5);

}

#Z:active{
    background-color: orange;
    transform: translate(4px,4px);
    box-shadow: 0px 0px 1px rgb(104, 0, 5);

}

#X:active{
    background-color: orangered;
    transform: translate(4px,4px);
    box-shadow: 0px 0px 1px rgb(104, 0, 5);

}

#C:active{
    background-color: red;
    transform: translate(4px,4px);
    box-shadow: 0px 0px 1px rgb(104, 0, 5);

}

@media(max-width:710px){
    .containercss{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
}




.cmn-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
  }
  .cmn-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  input.cmn-toggle-round-flat + label {
    padding: 2px;
    width: 50px;
    height: 20px;
    background-color: #dddddd;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    -webkit-transition: background 0.4s;
    -moz-transition: background 0.4s;
    -o-transition: background 0.4s;
    transition: background 0.4s;
  }
  input.cmn-toggle-round-flat + label:before, input.cmn-toggle-round-flat + label:after {
    display: block;
    position: absolute;
    content: "";
  }
  input.cmn-toggle-round-flat + label:before {
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    background-color: #fff;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    -webkit-transition: background 0.4s;
    -moz-transition: background 0.4s;
    -o-transition: background 0.4s;
    transition: background 0.4s;
  }
  input.cmn-toggle-round-flat + label:after {
    top: 4px;
    left: 4px;
    bottom: 4px;
    width: 12px;
    background-color: orange;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    border-radius: 12px;
    -webkit-transition: margin 0.4s, background 0.4s;
    -moz-transition: margin 0.4s, background 0.4s;
    -o-transition: margin 0.4s, background 0.4s;
    transition: margin 0.4s, background 0.4s;
  }
  input.cmn-toggle-round-flat:checked + label {
    background-color: #8ce196;
  }
  input.cmn-toggle-round-flat:checked + label:after {
    margin-left: 30px;
    background-color: #8ce196;
  }